:root
{
    --unecon-white: #BFBFBF;
    --unecon-green: #00927F;
    --unecon-light-green: #D3FFB4;
    --unecon-gray: #7D8A86;
    --unecon-blue: #C9DBFC;
}

body
{
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 405px;
}
.main-block
{
    background-color: white;
    box-shadow: 0px 0px 8px -2px rgba(34, 60, 80, 0.5);
    padding-left: 0%;
    padding-right: 0%;
}

#logo:hover
{
    background-color: #ececec;
}
.navbar
{
    background-color: var(--unecon-green);
}

.navbar-brand
{
    font-size: x-large;
}
.sign-in
{
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

#sign-in
{
    color: white;
}

#sign-in:hover
{
    text-decoration: none;
}

#unecon-logo
{
    width: 50px;
    height: 50px;
}

.form-check-input:checked
{
    background-color: var(--unecon-green);
    border-color: var(--unecon-green);
}

.footer
{
    position: relative;
    bottom: 0px;
    background-color: rgb(80, 80, 80);
    color: white;
    height: 100px;
}

.nodesktop
{
    display: none;
}

.faculty-block
{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 15px;
}
.faculty-link
{
    text-decoration: none;
    color: black;
}

.btn-year
{
    background-color: rgb(243, 243, 243);
    border-radius: 0px;
}
.btn-year:hover
{
    background-color: rgb(209, 209, 209);
}

.btn-year:last-of-type
{
    border-top-right-radius: 5px ;
}
.btn-year:first-of-type
{
    background-color: rgb(209, 209, 209);
    border-top-left-radius: 5px;
}

.speciality-block
{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 15px;
    background-color: var(--unecon-green);
    color: white;
    width: min-content; 
    white-space: nowrap;
}
.speciality-link
{
    width: min-content;
    text-decoration: none;
    color: black;
}

.speciality-link:hover .speciality-block
{

    background-color:  white;
    color: black;
}

#log-hr
{ 
    border: 0; 
    height: 1px; 
    background-image: linear-gradient(to right, #f0f0f0, #00b9ff, #59d941, #f0f0f0); 
}

#main-hr
{
    border: 3px solid black;
}

.subbtn
{
    
    background-color: transparent;
    border: 0;
    border-color: #BFBFBF;
    box-shadow: 0px 0px 27px 0px rgba(34, 60, 80, 0.2);
}

.rasp-cell 
{
    
}

.rasp-cell:hover 
{
    background-color: #f8f8f8;
}

.date-cell:hover 
{
    background-color: #ebebeb ;
}
.teacher-link
{
    color: black;
    text-decoration: underline;
}
.teacher-link:hover
{
    text-decoration: none;
}
@media (max-width: 515px) {
.navbar-brand
{
    font-size: small;
}
.nomobile
{
    display: none;
}
.nodesktop
{
    display: block;
}
#sign-in
{
    font-size: small;
}
#unecon-logo
{
    width: 20px;
    height: 20px;
}
}
